html,
body {
  height: 100%;
  #app {
    background: url(../img/bg.png) #301717 no-repeat center center;
    background-size: 100%;
    font-family: "pingfang sc heavy";
    height: 100%;
    overflow: hidden;
    .btn {
      background: #a2edd1;
      border: 4px solid #1b1b1b;
      font-family: inherit;
      padding: 0;
      span {
        background: #b04539;
        border: 4px solid #1b1b1b;
        display: block;
        margin: 0;
        -moz-transform: translate(4px, 4px);
        -webkit-transform: translate(4px, 4px);
        transform: translate(4px, 4px);
      }
    }
    .top-bar {
      display: inline-block;
      height: 1rem;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 3rem;
      z-index: 0;
      div {
        float: left;
        height: 1rem;
        position: relative;
        width: 1rem;
        img {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -moz-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          &.return-icon {
            width: 0.37rem;
          }
          &.music-icon {
            top: 57%;
            width: 0.59rem;
          }
          &.home-icon {
            top: 48%;
            width: 0.52rem;
          }
        }
      }
    }
  }
}
