.page-content {
  height: 100%;
  padding-top: 26.56%;
  position: relative;
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    &.envelope {
      width: 95.35%;
    }
  }
  .page-seek {
    .seek-title {
      color: #2a1717;
      font-size: 0.48rem;
      line-height: 1;
      margin: 0;
      position: fixed;
      top: 9.5%;
      left: 9%;
      transform: rotate(-15deg);
    }
    .seek-content-title {
      color: #9f3e34;
      font-size: 0.6rem;
      line-height: 1;
      margin: 0;
      padding-top: 0.8em;
      text-align: center;
    }
    .seck-hint {
      color: #f5c359;
      font-size: 0.36rem;
      position: relative;
      width: 85.79%;
      img {
        width: 100%;
      }
      &.hint1 {
        margin: 1em auto auto auto;
        div {
          top: 2em;
        }
      }
      &.hint2 {
        margin: 0.5em auto 2em auto;
        div {
          top: 0.5em;
        }
      }
      div {
        position: absolute;
        left: 5%;
        width: 92%;
        p {
          line-height: 0.6rem;
          margin: 0 auto;
          text-shadow: 0px 0px 5px #000;
        }
      }
    }
    .btn {
      display: block;
      border-radius: 0.4rem;
      font-size: 0.48rem;
      line-height: 0.8rem;
      margin: 0 auto!important;
      span {
        color: #9f3e34;
        background: #f5c359!important;
        border-radius: 0.4rem;
        width: 7.8em;
      }
    }
  }
}